body {
    background-color: black;
}
h1 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
}
p {
    color: white
}

#rocky {
    border: 5px solid white;
}

.block {
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}